*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------Ser_sec1 Start---------------------- */
.Section1_bg
{
    background-image: url(http://ary-themes.com/html/bold_touch/medicoz/images/icons/pattern-3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
/* --------------------------------------Ser_sec1 End---------------------- */