@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200&display=swap');




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.dropdown-toggle::after
{
    display: none;
}
.container_nav
{
    max-width:1410px ;
    margin: auto;
    /* background-color: #0082c8; */
}

h4
{
    font-family: 'Open Sans', sans-serif;

}
h2
{
    font-family: 'Josefin Sans', sans-serif;

}



header
{
    background: linear-gradient(#0F2027,#203A43);
}

.header_logo span
{
    padding: 10px 10px;
    display: inline-block;
    font-weight: 500;
    color: white;
}
.nav_logo
{
    width:60px;
    height:60px;
    object-fit: cover;
}
nav li a
{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:400;
}
.nav_btn1
{
    border: 1px solid #1370b5;
    background-color: #1370b5;
    padding:10px 35px;
    text-transform: capitalize;
    color: white;
    font-weight:600;
    font-size: 16px;
    border-radius: 10px;
}
.main_menu
{
    position: relative;
    margin-left:100px;
}
.main_menu li 
{
    position: relative;
    
}
.main_menu li a
{
    color: black;
}
.sub_menu
{
    position: absolute;
    width: 200px;
    background-color:white;
    visibility: hidden;
    opacity:0;
    overflow: hidden;
    transform: translateY(100px);
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 11;
}
.sub_menu li 
{
    padding: 10px 0px;
    list-style: none;

}
.sub_menu li a
{
    padding: 10px 0;
    text-transform: capitalize;
    transition: all 0.5s;
}
.sub_menu li a:hover
{
    padding-left: 10px;
    color: #1370b5;
}
 .main_menu li:hover .sub_menu
{
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
}
#slider1.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: 50%;
    left:5%;
    font-size:50px;
    height:70px;
    width:40px;
    color: white;
    background-color: #0082c8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slider1.owl-carousel .owl-nav button.owl-next
{
    height:70px;
    width:40px;
    background-color:#0082c8;
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.owl-theme .owl-dots 
{
    position: absolute;
    bottom: 10%;
    left: 50%;
}
.content {
    position: absolute;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    overflow: hidden;
}

.section1_y
{
    padding-top: 100px;
    padding-bottom: 100px;
}
.bgimg_section1
{
    object-fit: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    background-image: url();
}
.bgimg_section1::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.section1_icon
{
    font-size: 40px;
    color:#0F2027;
    transition: 0.3s;
}
.box1_section1
{

    color:black;
    border-radius:20px;
    position:relative;
    z-index: 1;
    text-transform: capitalize;
    transition: 0.3s;
    background-image: url(https://images.unsplash.com/photo-1584531979583-18c5c4b25efc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: 100%;
    background-repeat: no-repeat;   
    background-position: bottom;


}
.box1_section1:hover
{
    transform: translateY(-20px);
    background-color: white;

}
.box1_section1 h3
{
    font-size:22px;
}
.logo_bg
{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity:1;
    transition:all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.logo_bg:hover
{
    
    transform:scale(1.1);
}
.img_pic_box
{
    position: relative;
}

.section1_span
{
    color: #0082c8;
    font-size:24px;
    text-transform: capitalize;
}
.lifeline_logo
{
    width:13%;
    height:2%;
    /* object-fit: cover; */
    color: #0F2027;
}
.btn1_section_1
{
    padding: 10px 20px;
    border:1px solid #0082c8; 
    background-color: #0082c8;  
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}
.owl-nav
{
    margin: 0!important;
}

/* ----------------------------------------section2 Start-------------------------------------- */
.heart_logo
{
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
}
.bg_section2
{
    background-image: url(http://ary-themes.com/html/bold_touch/medicoz/images/icons/pattern-3.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;

}
.box1_section2
{
    font-size: 16px;
    text-align: justify;
    transition: 0.3s;
    color: #363636;
    text-transform: capitalize;
}

.box1_section2 p
{
    color:#666666;
    margin-top:12px;

}
.box1_section2:hover
{
    transform: translateY(-20px);
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box1_logo
{
    width: 100px;
    height: 100px;
    background-color:white;
    margin: auto;
    border-radius: 100%;
    transition: 0.3s;
    font-size:42px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.box1_logo:hover
{
    width: 100px;
    height: 100px;
    border-radius: 1px;
    border-radius: 50%;
    border:6px double black;

}
.icon_box1
{
    color: #1370b5;
}
.icon_box1:hover
{
    transform: scale(1.2);
}


/* ---------------------------------------section2 End-------------------------------------- */

/* ---------------------------------------Section3 Start------------------------------------ */

.section3_bg
{
    background-image: url(https://www.seekpng.com/png/full/403-4036551_forte-elements-science-gray-background-circle.png);
    background-image: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.img_border
{
    border:5px solid white;
    overflow: hidden;
    /* position: relative; */
    
}
.effect img
{
    transform-origin: top left;
    transition:1s;
    position: relative;
    overflow: hidden;

}
.effect 
{
    position: relative;
    overflow: hidden;

}
.effect:hover img
{
    transform: scale(1.1);
}
.content1
{
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: -100%;
    transition: 0.5s;
    width: 100%;
    height:30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 20px;
    padding-top:20%;
}
.effect:hover .content1
{
    bottom:0px;
    

}

/* ---------------------------------------Section3 End------------------------------------ */

/* ---------------------------------------Section4 Start---------------------------------- */

.bg_section4
{
    background-image: url(https://www.sas.com/en_in/covid19/references/covid19-resource-hub-promo/_jcr_content/par/styledcontainer_9a69/image.img.png/1560229042303.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-position: bottom center;
}
.bg_color_row
{
    background-color: #1370b5;

}
.section4_text span
{
    color:white;
    font-size: 18px;
}
.section4_text h2
{
    color: white;
    font-size:48px;
    width: 570px;
}
.section4_text h3
{
    color: white;
}
.section4_btn1
{
    padding: 10px 40px;
    border: 1px solid black;
    border-radius:5px;
    background-color:black;
    color: white;
    text-transform: capitalize;
    font-weight:500;
    transition: 0.3s;
}
.section4_btn1:hover
{
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.section4_img
{
    position: relative;
    
}
.section4_img2
{
    position: absolute;
    bottom:-2px;
    left:1px;
    

}
.section4_row_bg
{
    background-color: white;
    background-image: url(https://mediacache.dinex.dk/v-637743982754521723/a9/b0/3b8b-eebc-4a42-ba07-bc864ada7614/world-map-animation.gif);
    background-size: 100%;
    position: relative;
}
.section4_row_bg::after
{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 11;
}
.z-i
{
    z-index: 111 !important;
}
.logo_box_section4
{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border:5px dotted skyblue;
    transition: 0.3s;
}
.logo_box_section4 i
{
    color:#0082c8;
    transition: 0.3s;
}
.logo_box_section4:hover
{   
    background-color:#0082c8;
    border: none;
}
.logo_box_section4 i:hover
{
    color: white;
}
.logo_box_section4 
{
    color: #0F2027;

}
.logo_box_section4_p
{
    color: #888;
}
.fix_menu 
{
    width: 100px;
    height: 100px;
    background-image: url(https://www.pngitem.com/pimgs/m/111-1115417_cartoon-physician-clip-art-clip-art-doctor-cartoon.png);
    background-size: 100%;
    border-radius: 50%;
    position: fixed;
    bottom:5%;
    z-index: 99;
    border: 2px solid salmon;
    right:2%;
}
.fix_menu:hover button
{
    visibility: visible;
    opacity: 1;
}
.fix_menu button
{
    position: fixed;
    right: 2%;
    bottom: 20%;
    background-color: #363636;
    text-transform: capitalize;
    background-color: #1370b5;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: 0.5s;
}
.h6_font
{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}



/* ---------------------------------------Section4 End---------------------------------- */

/* ---------------------------------------Section5 Start---------------------------------- */
.section5_bg
{
    background-image: url(http://ary-themes.com/html/bold_touch/medicoz/images/icons/dotted-map.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    
}

.img_slider
{
    width:300px;
    height:100px;
    border-radius: 50%;
}
.text-middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    font-size:24px;
    color: #0082c8;
    text-shadow: 1px 1px 5px black;
}
/* ---------------------------------------Section5 End---------------------------------- */
/* ---------------------------------------Section6 Start---------------------------------- */
.section6_bg
{
    background-image: url(http://ary-themes.com/html/bold_touch/medicoz/images/icons/pattern-6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}
.section6_box1
{
    background-color: white;
    box-shadow: 0 0px 10px rgb(0 0 0 / 10%);
    transition: 0.3s;

}
.section6_box1:hover
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section6_box1 h6
{
    color: #888;
}
.section6_box1 span
{
    text-transform: capitalize;
    color: #363636;
}
.section6_box1 h3
{
    font-size: 24px;
}
.section6_box1 h1
{
    color: #0082c8;
}
.section6_box1_button
{
    background-color:white;
    color:#0082c8;
    text-transform: capitalize;
    font-size: 16px;
    border: 2px solid #0082c8;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 500;
}
.section6_box1_button:hover
{
    background-color: #0082c8;
    color: white;
}
.box1_box1
{
    background-color:skyblue;
    
}
/* ---------------------------------------Section6 End---------------------------------- */
/* ---------------------------------------Section7 Start---------------------------------- */

.section_y
{
    padding-bottom: 80px;
}
.card
{
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 7%);
    transition: 0.3s;

}
.card:hover
{
    transform: translateY(-10px);
}
.card img
{
    border-radius:20px 20px 0 0;

}
.card-body a
{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-weight:500;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:28px;

}
.card-body p
{
    color: #4c4c4d;
}
.card-body span
{
    color: #222222;
}

/* ---------------------------------------Section7 End---------------------------------- */
/* ---------------------------------------Section8 Start---------------------------------- */
.section8_bg
{
    box-shadow: 0 0 30px rgb(0 0 0 / 5%);

}
/* ---------------------------------------Section8 End---------------------------------- */
/* ---------------------------------------Section9 Start-------------------------------- */
/* .footer_main_menu
{

} */
.footer_main_menu li
{
    padding: 10px 0px;
    list-style: none;
}
.footer_main_menu li a
{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
}
.footer_main_menu li:hover a
{
    text-decoration-line: underline;
}
.footer a
{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    
}

.footer p
{
    color: white;
}
.footer_i
{
    font-size: 40px;
    color:white;
}
.footer h4
{
    color: white;
}
.footer .display5
{
    color: white;
}
.footer_y
{
    padding-top: 100px;
    background-color: #152858;
}
.footer_soc_i
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:40px;
    background-color: #0F2027;
    /* display: inline-block; */
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
}

.footer_soc_i:hover
{
    background-color: white;
    color: #0082c8;
}
.footer_menu li
{
    padding: 20px 10px;
}
.footer_menu li a
{
    text-decoration: none;
    color: white;
}
.footer_menu li:hover a
{
    text-decoration-line: underline;
}
.copy_right
{
    background-color:#1370b5;
}

/* ---------------------------------------Section9 End-------------------------------- */



